html, body, ul, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  list-style: none;
}

.menu > li {
  display: inline-block;
  margin-left: 15px;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.v-manu > li{
  padding: 5px;
  border: 1px dotted;
  margin-top: 5px;
}

.profile_table {
  width: 100%;
}

.profile_table tr td:first-child {
  font-weight: bolder;
}
